body{
    margin: 0;
    font-family: sans-serif;
    background-color: #222222;
    padding: 10%
}

.btn{
    font-size: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 10%;
    margin-right: 5px;
}

.box{
    height: 250px;
    width: 250px;
    background-color: #fff;
    margin-top: 30px; 
    border-radius: 10%
}